/node_modules/
/vendor/
/nova-components/*/node_modules/
/nova-components/*/vendor/
**/telescope/
/storage/*.key
.env
.env.backup
/.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.vapor/
.env.production
.env.staging
.env.development
/public/build/
/public/hot
/public/storage
/public/vendor/*
resources/js/service-router.js
resources/js/ziggy.js
resources/views/emails/compiled/*
.DS_Store
cypress.env.json
cypress/screenshots/*
cypress/videos/*
